<div class="container-fluid">
	<table class="table table-condensed">
		<thead>
			<tr>
				<td>Nombre</td>
			 	<td>Usuario</td>
			 	<td>Contrasena</td>
		  	</tr>
		</thead>
		<tbody ng-repeat="user in users">
			<tr>
				<td>{{user.nombre}}</td>
				<td>{{user.usuario}}</td>
				<td>{{user.contrasena}}</td>
				<td>
					<button type="button" class="btn btn-default btn-sm" ng-click="editar()"><span class="glyphicon glyphicon-edit"></span>Editar</button>
				</td>
				<td>
					<button type="button" class="btn btn-default btn-sm" ng-click="eliminar()"><span class="glyphicon glyphicon-trash"></span>Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>	